.upload_plus_icon {
  font-size: 40px;
  line-height: 40px;
}


.row-container{
  height: inherit;
  width: 640px;
  display: table-cell;
  vertical-align: middle;
}

.upload_area_header_row {
  height: 100px;
  margin: 20px 4px;
  border: 2px dashed rgba(28, 110, 164, 0.68);
  border-radius: 10px;
  cursor: pointer;
}

.upload_area_header_row:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  transition: 0.3s ease;
}

.row-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #f1f2f6;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position:relative;
}

.row-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.row-remove {
  position: absolute;
  top: 0px;
  right: 0px;
}

.thumbnail-img {
  cursor: pointer;
}


.upload_area_empty {
  border: 2px dashed rgba(28, 110, 164, 0.68);
  border-radius: 10px;
  padding: 30px 60px;
  cursor: pointer;
  text-align: center;
  margin-top: -60px;
}

.upload_area_empty:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  transition: 0.3s ease;
}

