

.logo {
  width: 31px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}


.rightIconButton {
  float: right;
}


.layout {
  background-image: url(../laserDXF.jpg);
  background-repeat:no-repeat;
  background-position:center;
}

.layout-header {
  background-color: rgba(18,18,18, 1.0);
}

.layout-content {
  /* 视口总高减去 导航 和 页脚 */
  height: calc(100vh -  64px - 68px);
}

.row-content {
  height: inherit;
  background-color: rgba(240,240,240, 0.85);
}


.content-local {
  height: inherit;
  overflow: scroll;
}


.content-cloud {
  height: inherit;
  overflow: scroll;
}